<br>
<h1>Bookings</h1>


<% @meetings.each do |meeting| %>
  <div class="card">
    <div class="card-header">Booking</div>
      <div class="card-body">
        <h5 class="card-title"><%= meeting.name %></h5>
        <p class="card-text"><%= meeting.start_time %> - <%= meeting.end_time %></p>
        <%= link_to "View Booking", meeting_path(meeting), class: "btn btn-primary" %>

        <%= link_to "Make payment", payment_new_path(meeting.id, meeting.payment), class: "btn btn-primary" %>
      </div>
  </div>
<% end %>

<br>
<% if current_user.role_id == 1 %>
  <%= link_to 'New Meeting', parents_sitter_display_path() %>
<% elsif %>

<% end %>
