<h1> Your booking </h1>

<p>
  <strong> Booking Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<br> 

<%= link_to 'Edit', edit_meeting_path(@meeting) %>
<%= link_to 'Back', meetings_path %>


<h1> Your Sitter: </h1>

<p>
  <strong> Name: </strong>
  <%= @sitter.name %>
</p>

<p>
  <strong> Description: </strong>
  <%= @sitter.description%>
</p>

<p> <%= @meeting.address %></p>
<p>Coordinates: <%= @meeting.latitude %> <%= @meeting.longitude %></p>


<%# Google Map  %>

<div class="row">
  <div id="map" style="width: 100%; height: 400px"></div>

  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script> 
    function initialize () {
      var address = {lat: <%@meeting.latitude %>, lng: <%= @meeting.longitude %> };
      var map = new google.maps.Map(document.getElementById('map'), {
        center: address,
        zoom: 14
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</div>



<hr/>
