<h1> Your booking </h1>

<p>
  <strong> Booking Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<br> 

<%= link_to 'Edit', edit_meeting_path(@meeting) %>
<%= link_to 'Back', meetings_path %>


<h1> Your Sitter: </h1>

<p>
  <strong> Name: </strong>
  <%= @sitter.name %>
</p>

<p>
  <strong> Description: </strong>
  <%= @sitter.description%>
</p>

<p> <%= @meeting.address %></p>
<p>Coordinates: <%= @meeting.latitude %> <%= @meeting.longitude %></p>

