<% if user_signed_in? && current_user.role_id == 1 %>
  <nav class="navbar">
    <div class="links">
      <div>
      <% if  @current_user.picture != nil && @current_user.picture.attached? %>
        <%= image_tag @current_user.picture, class: "profile-image" %>
      <% elsif %>
        <%= image_tag "default_profile_image.png", class: "profile-image" %>
      <% end %>
      </div>
      <!-- Links -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Home", parents_home_path(), class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "All bookings", meetings_path(), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Sitters", parents_sitter_display_path(), class: "nav-link" %>
        </li>

        <!-- The below if statement basically says if the parent id is nil then display nothing. But if its not nil display view profile. This was to prevent the app from crashing when creating the parent. -->
        <% if @current_user.parent == nil %>
          <li class="nav-item">
            <%= link_to "Create Parent Profile", parents_new_path(), class: "nav-link" %>
          </li>
        <% elsif %>
          <li class="nav-item">
            <%= link_to "View profile", parent_path(@current_user), class: "nav-link" %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %></p>
          <li>
        <% else %>
          <li class="nav-item">
            <%= link_to "login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% elsif user_signed_in? && current_user.role_id == 2 %>
    <nav class="navbar">
      <div class="links">
        <div class="profile-image-container">
          <% if @current_user.picture.attached? %>
            <%= image_tag @current_user.picture, class: "profile-image" %>
          <% else %>
            <%= image_tag "default_profile_image.png", class: "profile-image" %>
          <% end %>
        </div>
        <ul class="nav nav-tabs">
          <li class="navbar-item">
            <%= link_to "Home", sitters_home_path(), class: " active nav-link" %>
          </li>
          <li class="navbar-item">
            <%= link_to "All bookings", meetings_path(), class: "nav-link" %>
          </li>
          
          <% if current_user.sitter == nil %>
            <li class="navbar-item">
              <%= link_to "Create Sitter", new_sitter_path(), class: "nav-link" %>
            </li>
          <% elsif %>
            <li class="navbar-item">
              <%= link_to "View profile", sitter_path(current_user.sitter), class: "nav-link" %>
            </li>
          <% end %>

          <% if user_signed_in? %>
            <li class="navbar-item">
              <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link"%></p>
            </li>
          <% else %>
            <li class="navbar-item">
              <%= link_to "login", new_user_session_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <% elsif !user_signed_in? %>
    <nav class="navbar">
      <div class="links">
        <div class="profile-image-container">
          <%= image_tag 'baby-1.png', class: "profile-image"%>
        </div>
        <ul class="nav nav-tabs">
          <li class="navbar-item">
            <%= link_to "Home", root_path(), class: "nav-link active" %>
          </li>
          <% if user_signed_in? %>
            <li class="navbar-item">
              <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link"%></p>
            </li>
          <% else %>
            <li class="navbar-item">
              <%= link_to "login", new_user_session_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
<% end %>


