<%= form_with(model: sitter, local: true) do |form| %>
  <% if sitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sitter.errors.count, "error") %> prohibited this sitter from being saved:</h2>

      <ul>
      <% sitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br> 

  <div>
    <%= form.label :picture%>
    <%= form.file_field :picture, accept: "image/png,image/gif,image/jpg,image/jpeg"%>
  </div>

  <br>

  <div class="form-row">

    <div class="col">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "John Smith" %>
    </div>

    <div class="col">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control", placeholder: "Place in which you reside"%>
    </div>
  </div>

  <br>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", placeholder: "Tell us about yourself" %>
  </div>

  <br>

  <div>
    <%= form.label :age %>
    <%= form.date_select :age, class: "form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit  class: "btn btn-primary" %>
  </div>
<% end %>
