<p id="notice"><%= notice %></p>


<div class="view-profile-image">
  <% if @sitter.picture.attached? %>
    <%= image_tag @sitter.picture, class: "view-profile-image" %>
  <% else %>
    <%= image_tag "default_profile_image.png", class: "view-profile-image" %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sitter.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sitter.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @sitter.location %>
</p>

<%= link_to "Back", sitters_path() %>
<%= link_to "Edit", edit_sitter_path()%>
