<%= form_with(model: @payments, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being sent:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>


  <div class="field">
    <%= form.hidden_field @meetings.ids %>
    <%= form.hidden_field @meetings.name %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>