<%= form_with(model: parent, local: true) do |form| %>
  <% if parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>
      <ul>
      <% parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :picture%>
    <%= form.file_field :picture, accept: "image/png,image/gif,image/jpg,image/jpeg"%>
  </div>

  <br> 

  <div class="form-row">
    <div class="col">
      <%= form.label :mother_name %>
      <%= form.text_field :mother_name, class: "form-control", placeholder: "Name of the father" %>
    </div>

    <div class="col">
      <%= form.label :father_name %>
      <%= form.text_field :father_name, class: "form-control", placeholder: "Name of the father" %>
    </div>
  </div>

  <br> 

  <div class="form-row">
    <div class="col">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control", placeholder: "What area do you reside?" %>
    </div>

    <div class="col">
      <%= form.label :children %>
      <%= form.number_field :children, class: "form-control", placeholder: "How many children do you have?" %>
    </div>
  </div>

  <br>

  <div class="field">
    <%= form.label :description  %>
    <%= form.text_area :description, class: "form-control",  id: "exampleFormControlTextarea1"%>
  </div>

  <br> 
  
  <div class="actions">
    <%= form.submit  class: "btn btn-primary"%>
  </div>
<% end %>
