<p id="notice"><%= notice %></p>

<h3> Hi, <%= current_user.fullname %> </h3>
<p> Here are the nights you have coming up! </p>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %> - <%= meeting.sitter_user.name %>
    </div>
  <% end %>
<% end %>
