<p id="notice"><%= notice %></p>

<% @parents.each do |parent| %>

  <h1> Hi, <%= parent.mother_name %> and <%= parent.father_name %></h1>

<% end %>

<table>
  <thead>
    <tr>
      <th>Mother name</th>
      <th>Father name</th>
      <th>Children</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= calendar start_date_param: :my_date do |date| %>
    <%= date %>
  <% end %>
  <!-- 
  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.mother_name %></td>
        <td><%= parent.father_name %></td>
        <td><%= parent.children %></td>
        <td><%= parent.description %></td>
        <td><%= parent.location %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  -->
</table>


<br>

