<p id="notice"><%= notice %></p>

<% @parents.each do |parent| %>

  <h1> Hi, <%= parent.mother_name %> and <%= parent.father_name %></h1>

<% end %>

<% if @meetings.empty? %>
  <h1> No meetings </h1>

<% else %>
  <div id="requests">
    <%= month_calendar events: @requests do |date, requests| %>
      <%= date.to_formatted_s(:short) %>
    <% end %>
  </div>
<% end %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>

<button><%= link_to "create meeting", new_meeting_path() %></button>


