<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="form-group">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname, class: "form-control" %>
  </div>

  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"> Your phone number </div>
  <div class="panel-body">
    <div class="container">
      <% if !current_user.phone_number.blank? || current_user.phone_number == nil %>
        <h4> <%= current_user.phone_number %> </h4>
        <button class="btn btn-default" data-toggle="modal" data-target="#update-phone">Update Phone Number </button>
        <% if current_user.phone_verified == false %>
          <button class="btn btn-default" data-toggle="modal" data-target="#verify-phone">Update</button>
        <% end %>
      <% else %>
        <button class="btn btn-default" data-toggle="modal" data-targe="#update-phone">Add Phone number</button>
      <% end %>
    </div>
  </div>
</div>

<%# Modal for Phone Number %>
<div class="modal-dialog">
    <div class="modal-content">

      <div class="model-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Phone number </h4>
      </div>

      <div class="modal-body">
        <%= form_for current_user, url: update_phone_number_users_path(current_user) do |f| %>
          <div class="form-group"> 
            <%= f.phone_field :phone_number, class: "form-control", placeholder: "Your phone number"%>
          </div>
          <div class="text-center">
            <%= f.submit "Save", class: "btn btn-normal" %>
          </div>  
        <% end %>
      </div>
    </div>
</div>

<%# Modal For Verify Phone Number %>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="model-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Verification Code </h4>
      </div>

      <div class="modal-body">
        <%= form_for current_user, url: verify_phone_number_users_path(current_user), method: :post do |f| %>
          <div class="form-group"> 
            <%= f.phone_field :phone_number, class: "form-control", placeholder: "Your PIN"%>
          </div>
          <div class="text-center">
            <%= f.submit "Verfiy", value: "", class: "btn btn-normal" %>
          </div>  
        <% end %>
      </div>
    </div>
  </div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
